body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.word-par {
    margin-right: 3px;
    width: 20px;
}

/* layout */

.container {
    margin: 0 auto;
    display: flex;
    width: 610px;
    height: 100px;
    justify-content: center;
}

.hangman-img-container {
    background-color: aquamarine;
    height: 310px;
}

.start-game-container,
.game-container {
    align-items: center;
    padding: 20px 0;
    /* display: none; */
    background-color: pink;
    height: 200px;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.word-container {
    display: flex;
}

.form-container {
    display: flex;
}

.message-container {
    display: none;
    position: fixed;
    background-color: black;
    width: 300px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.message-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.close-btn {
    padding: 0;
    margin: 0;
    color: pink;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
}

#settings-icon {
    width: 30px;
    position: relative;
    right: -100px;
    top: -30px;
    opacity: 50%;
}

/* typography */
button {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.start-game-btn {
    background-color: black;
    color: white;
    font-weight: bolder;
}

.start-game-btn:hover,
.start-game-btn:active {
    opacity: 80%;
}

.btn-off,
.btn-on {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 50px;
    height: 20px;
    text-align: center;
}

.btn-off {
    background-color: red;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-on {
    background-color: green;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.off-btn-inactive,
.on-btn-inactive {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 50px;
    height: 20px;
    text-align: center;
    background-color: rgb(61, 61, 61);
    color: rgb(108, 108, 108);
}

.off-btn-inactive {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.on-btn-inactive {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.message-text {
    color: white;
    padding: 0;
    margin-bottom: 10px;
}


