@font-face {
    font-family: dieFont;
    src: url(fonts/iknowaghost.ttf);
}

@font-face {
    font-family: panic;
    src: url(fonts/PanicStricken.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'dieFont', Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}


/* layout */
.container {
    margin: 0 auto;
    display: flex;
    width: 610px;
    /* height: 100px; */
    justify-content: center;
    background-image: url('images/gridpaper.jpg');
    background-size: 70%;
}

.hangman-img-container {
    height: 250px;
}

.start-game-container,
.game-container {
    align-items: center;
    display: flex;
    /* padding: 20px 0; */
    /* display: none; */
    height: 400px;
}

.start-game-container {
    display: flex;
}

.game-container {
    display: flex;
    flex-direction: column;
    height: 0;
}

.word-container {
    display: flex;
    height: auto;
}

.show-chosen-letters {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
}

.message-container,
.settings-container {
    background-image: none;
    background-color: black;
}

.message-container {
    position: fixed;
    background-image: none;
    background-color: black;
    width: 300px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.message-container {
    display: none;
}

.message-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.settings-container {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    width: 300px;
    height: 100px;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 0;
    width: 300px;
    height: 300px;
    color: white;
    padding: 5px;
}

.settings-row {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.settings-btns-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.end-game-container {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    width: 300px;
    height: 100px;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 0;
    width: 300px;
    height: 300px;
    background-image: none;
    background-color: black;
    color: white;
    padding: 5px;
}

.close-btn-container {
    display: flex;
    position: relative;
}

.close-btn {
    position: absolute;
    padding: 0;
    margin: 0;
    color: white;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
}

#setting-icon-container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

#settings-icon {
    width: 30px;
    position: absolute;
    top: 5px;
    left: 480px;
    opacity: 90%;
}

#settings-icon:hover,
#settings-icon:active {
    opacity: 50%;
}

/* typography */
#logo {
    font-family: 'panic';
    font-size: 4.5em;
    margin: 0;
    padding: 0;
}

.green {
    color: green;
}

.red {
    color: red;
}

.word-par {
    margin-right: 3px;
    text-align: center;
    /* width: 20px; */
    font-size: 50px;
    margin: 0px 10px;
    display: inline-block;
    /* letter-spacing: 10px; */
}

.medium-par {
    font-size: 1.825em;
    font-weight: bold;
    margin: 5px;
}

.setting-name {
    font-size: 1.5em;
    margin: 0;
}


button {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.start-game-btn {
    background-color: black;
    color: white;
    font-weight: bolder;
    font-family: "dieFont", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.start-game-btn:hover,
.start-game-btn:active {
    opacity: 80%;
}

.btn-off,
.btn-on {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 50px;
    height: 25px;
    text-align: center;
}

.btn-off {
    background-color: red;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-on {
    background-color: green;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.off-btn-inactive,
.on-btn-inactive {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 50px;
    height: 25px;
    text-align: center;
    background-color: rgb(61, 61, 61);
    color: rgb(108, 108, 108);
}

.off-btn-inactive {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.on-btn-inactive {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.message-text {
    color: white;
    padding: 0;
    margin-bottom: 10px;
}


